body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 50px;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}

.container {
    text-align: center;
}

.btn {
    padding: 30px 50px;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 30px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-image: url('./static/img/snare.jpeg');
    background-size: cover;
    cursor: pointer;
    text-transform: capitalize;
    color: pink;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    color: white;
}

.btn:active {
    background-size: 105%;
}

p {
    color: rgba(0, 0, 0, 0.6);
}